@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100&display=swap");


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;

}

html {
    font-size: 1rem;
  }
  
  a {
    text-decoration: none;
  }
  
  li {
    list-style: none;
  }
  

.header-navbar{
  width: 100%;
  height: 5rem;
  display: grid;
  grid-template-columns: 10rem 1fr 2fr 1fr 10rem;
  box-shadow: rgba(115, 115, 145, 0.815) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.profile-navbar{
    display: grid;
    font-size: 1.5rem;
    grid-column: 5/3;
    justify-content: start;
    margin-left: -25rem;
    margin-top: 1rem;
    text-shadow: 2px 2px rgba(50, 50, 93, 0.25);
}

.menu-link {
  grid-column: 3/4;
}

.menu-link ul {
  height: 10rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* ----------- Grid part ends ----------------- */
.menu-link ul li {
  font-size: 1.3rem;
  margin-top: -13rem;
}

.menu-link ul li a {
  text-transform: capitalize;
  color: rgba(0, 0, 3, 0.8);
  transition: 0.5s;
}
.menu-link ul li:hover > a {
  transform-origin: left;
  color: rgba(0, 0, 3, 1);
  text-decoration: underline;
  transition: 0.5s;
}

.post-job-button{
  width: 5rem;
  height: 3rem;
  margin-top: -3rem;
  margin-left: 13rem;
}
.signin-button{
  width: 5rem;
  height: 3rem;
  margin-top: -3rem;
}

.Profile-card{
margin-top: 5rem;
margin-left: 40rem;
}

.expirence-button{
  height: 1rem;
  width: 3rem;
}
.share_button{
  margin-left: 50rem;
  margin-top: 1rem;
}